[Interface]
PrivateKey = PLACE YOUR PRIVATE KEY HERE
Address = Your assigned address here
DNS = 193.138.218.74 #This is the Mullvad DNS

[Peer]
PublicKey = jO6zxrJnV++0WcafvRtlN0B8vXJ7O7jbTxTKFqXkGwE=
AllowedIPs = 0.0.0.0/0 # Set this to 10.42.23.1/24 if you only wish to route $this traffic into the vpn
Endpoint = vpn.chaostreff-flensburg.de:51820
